<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="text/javascript" src="/asset/js/jquery-3.1.1.min.js"></script>

    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="/asset/css/spoqa.css">


    <title>React App</title>
    <link href="/asset/counter/css/main.9a0fe4f1.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/" style="color:white">Pystagram</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">

          <form class="navbar-form navbar-right">

            <a href="{% url 'post_index' %}">
              <button class="btn btn-primary">Blog</button>
            </a>

            <a href="{% url 'photo_index' %}">
              <button class="btn btn-primary">Photos</button>
            </a>

            <a href="{% url 'counter_index' %}">
              <button class="btn btn-primary">Counter</button>
            </a>

            {% if user.is_authenticated %}
            {% else %}
              <a href="{% url "social:begin" "facebook" %}">
                <button class="btn btn-primary">페이스북으로 10초 만에 로그인</button>
              </a>
            {% endif %}

          </form>

        </div><!--/.navbar-collapse -->

      </div>
    </nav>

    <div class="col-md-12" id="root"></div>
    <script type="text/javascript" src="/asset/counter/js/main.c645e0eb.js"></script>
  </body>
</html>
